.development_heading {
  text-align: center;
  font-size: 42px;
  font-weight: 500;
  margin: 0px;
  padding: 30px 0px;
}
.videos_container_heading {
  text-align: center;
  font-size: 42px;
  font-weight: 500;
}
.progress_home_container {
  background-color: #f2f0f0;
  padding: 40px 0px 50px 0px;
}

.development_page_wrapper_container{
  padding: 30px 0px 20px 0px;
}