.single_blog_page{
  width: 100vw;
  margin: auto;
}
.single {
  width: 90%;
  display: flex;
  justify-content: center;
  margin:20px  auto;
}
.single_blog_page {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

/* ***************** responsive css ********************* */

@media only screen and (max-width:1000px){
    .single{
        flex-wrap:wrap;
    }
    
}